<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <div class="brand-logo"><a href="#">Yasa Kerthi</a></div>
          <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
          <div class="burger-btn">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <article>
        <div class="container">
          
        </div>
        <section>
          <div class="hero">
            <!-- <img src="./public/images/heros/hero-image_1.jpg" alt=""> -->
            <img src="./images/heros/hero-image_4.jpg" width="450" alt="" />
          </div>
        </section>
      </article>
      <article>
        <div class="container">

       
        <section>
          <h1>Explore Restaurant</h1>
          <p>Discover some nice foods</p>
          <div class="wrapper">
            <div class="card">
              <img src="https://restaurant-api.dicoding.dev/images/medium/29" alt="">
              <div class="card-content">
                <h5>Kota Bandung</h5>
                <p>Rating: 4.5</p>
                <h4>Pangsit Express</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, quas harum. Nihil iste perferendis a.</p>
              </div>
            </div>
            <div class="card">
              <img src="https://restaurant-api.dicoding.dev/images/medium/29" alt="">
              <div class="card-content">
                <h5>Kota Bandung</h5>
                <p>Rating: 4.5</p>
                <h4>Pangsit Express</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, quas harum. Nihil iste perferendis a.</p>
              </div>
            </div>
            <div class="card">
              <img src="https://restaurant-api.dicoding.dev/images/medium/29" alt="">
              <div class="card-content">
                <h5>Kota Bandung</h5>
                <p>Rating: 4.5</p>
                <h4>Pangsit Express</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, quas harum. Nihil iste perferendis a.</p>
              </div>
            </div>
          </div>

        </section>
         </div>
      </article>
    </main>
    <footer>
      <div class="container">
        <p>@2024 Yasa Kerthi. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
