<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>
    <header>
      <div class="container">
        <nav>
          <div class="brand-logo"><a href="#">Yasa Kerthi</a></div>
          <a id="menu" class="burger-btn"  href="#">☰</a>
          <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://www.linkedin.com/in/i-gede-subagia-5bba4099/">About Us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <article>
        <div class="container">
          
        </div>
        <section>
          <div class="hero">
            <img src="./images/heros/hero-image_4.jpg" width="450" alt="kue cookies di atas meja" />
            <div class="hero-tagline">
            <h1>Explore Indonesian's Diverse Cusine with Us</h1>
            
          </div>
          </div>
        </section>
      </article>
      <article>
        <div class="container">

       
        <section>
          <h1>Explore Restaurant</h1>
          <p>Discover some nice foods</p>
          <div class="wrapper"  id="maincontent">
            
            
          </div>

        </section>
         </div>
      </article>
    </main>
    <footer>
      <div class="container">
        <p>@2024 Yasa Kerthi. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
